{% load cache %}
<button class="btn btn-default" onclick='$(body).trigger("calendar:reload", [0])'>Today</button>

<div class="btn-group">
    <button class="btn btn-default" onclick='$(body).trigger("calendar:reload", [{{ previous_page }}])'><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-default" onclick='$(body).trigger("calendar:reload", [{{next_page}}])'><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>

<table id="calendar">
    <tbody>
        {% for month, dates in calendar.items %}
            <tr>
                <th colspan="2" class="separator">{{ month|date:"M Y" }}</th>
            </tr>
            {% for date, calendar_items in dates.items %}
                {% if date|date:"D" == "Sun" %}
                    <tr class="week-marker">
                        <td>&nbsp;</td>
                        <td>
                            {% for hour in hours %}
                                <div class="hour-marker">{{ hour }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr class="{% if date == today %}today{% endif %}">
                    <th>{{ date|date:"D n/j" }}</th>
                    <td>
                        {% for calendar_item in calendar_items %}
                            <div
                                class="calendar-item {{ calendar_item.model|model_name|lower }}"
                                style="{{ calendar_item.css }}"
                                data-username="{{ calendar_item.user.username }}"
                                data-item-id="{{ calendar_item.item.barcode }}"
                                data-mms-id="{{ calendar_item.bib.mms_id }}"
                                data-toggle="popover"
                                data-content="{{ calendar_item.escaped_html }}"
                            >{% if calendar_item.parent %}...{% endif %}{{ calendar_item.user.username }}</div>
                        {% endfor %}
                        {% for hour in hours %}
                            <div class="hour-marker" style="height: {{ calendar_items.height }}px"></div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
