{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datetimepicker/jquery.datetimepicker.css"/ >
{% endblock %}
{% block content %}

<script src="{{ STATIC_URL }}js/calendar.js"></script>
<script src="{{ STATIC_URL }}/datetimepicker/jquery.datetimepicker.js"></script>
<script src="{{ STATIC_URL }}js/Please-compressed.js"></script>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-md-6">
                    {{ form.user|bootstrap }}
                </div>
                <div class="col-md-6">
                    {{ form.item|bootstrap }}
                </div>
            </div>
            <fieldset>
                <legend>Create Request <span id="status-flag"></span></legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.starting_on|bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.ending_on|bootstrap }}
                    </div>
                </div>
                {{ form.repeat|bootstrap }}
                <div id="repeat-info">
                    {{ form.repeat_on|bootstrap }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.end_repeating_on|bootstrap }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit">Create Reservation</button>
        </form>
        <div id="user-requests"></div>
    </div>
    <div class="col-md-8" id="calendar-wrapper"></div>
</div>

{% endblock %}
