{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datetimepicker/jquery.datetimepicker.css"/ >
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead.css"/ >
{% endblock %}
{% block content %}

<script src="{{ STATIC_URL }}js/calendar.js"></script>
<script src="{{ STATIC_URL }}datetimepicker/jquery.datetimepicker.js"></script>
<script src="{{ STATIC_URL }}js/typeahead.bundle.js"></script>

{{ form.errors }}
<div class="row">
    <div class="col-md-4" style="position:fixed">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-md-6">
                    {{ form.user|bootstrap }}
                </div>
                <div class="col-md-6">
                    {{ form.bibs_or_item|bootstrap }}
                </div>
            </div>
            <fieldset id="request-section">
                <legend>Create Request</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.starting_on|bootstrap }}
                    </div>
                    <div class="col-md-6">
                        {{ form.ending_on|bootstrap }}
                    </div>
                </div>
                {{ form.repeat|bootstrap }}
                <div id="repeat-info">
                    {{ form.repeat_on|bootstrap }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.end_repeating_on|bootstrap }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit">Create Reservation</button>
        </form>
        <div id="user-requests"></div>
        <div id="availability"></div>
    </div>
    <div class="col-md-8 col-md-offset-4" id="calendar-wrapper"></div>
</div>

{% endblock %}
